<div class="payment-container">
  <h2 class="title">Pago a realizar</h2>

  <mat-card class="payment-card">
    <h1 class="payment-title">Detalle</h1>
    <div class="payment-info">
      <p><strong>Id de Visita:</strong> {{ visitData()?.id }}</p>
      <p><strong>Estado:</strong> {{ visitData()?.status }}</p>
      <p><strong>Fecha de visita:</strong> {{ visitData()?.time_visit }}</p>
    </div>

    <div class="payment-methods">
      <mat-radio-group (change)="onPaymentChange($event.value)">
        <div class="method">
          <mat-radio-button
            name="payment"
            value="cash"
          >Efectivo</mat-radio-button>
        </div>

        <div class="method">
          <mat-radio-button
            name="payment"
            value="card"
          >Pago Virtual</mat-radio-button>
        </div>
      </mat-radio-group>

    </div>

    <div class="button-card">
      <button mat-flat-button color="primary" class="btn-accept" (click)="onAccept()">Aceptar</button>
    </div>

  </mat-card>

</div>
