<div class="rating-container">
  <h2 class="title">Calificar servicio</h2>

  <mat-card class="rating-card">
    <h1 class="rating-title">Calificación del servicio</h1>
    <p class="rating-text">
      Se ha culminado con la atención. <br/>
      ¿Desea calificar el servicio?
    </p>

    <div class="button-container">
      <button mat-flat-button class="btn-cancel" (click)="onLater()">Ahora no</button>
      <button mat-flat-button class="btn-accept" (click)="onRateNow()">Calificar</button>
    </div>
  </mat-card>

</div>
