<div class="plan-container">
  <h1 class="plan-title">{{ 'plan-owner.title' | translate }}</h1>

  <div class="plans-grid">
    <!-- Plan 3 meses -->
    <div class="plan-card">
      <p class="plan-feature">· {{ 'plan-owner.fullAccess' | translate }}</p>

      <div class="plan-box">
        <h2 class="plan-duration">{{ 'plan-owner.threeMonths' | translate }}</h2>
        <p class="plan-price">S/.59</p>
      </div>

      <button type="button" class="plan-button" (click)="selectPlan('3-months')">
        {{ 'plan-owner.chooseThisPlan' | translate }}
      </button>
    </div>

    <!-- Plan 12 meses -->
    <div class="plan-card">
      <p class="plan-feature">· {{ 'plan-owner.fullAccess' | translate }}</p>

      <div class="plan-box">
        <h2 class="plan-duration">{{ 'plan-owner.twelveMonths' | translate }}</h2>
        <p class="plan-price">S/.219</p>
      </div>

      <button type="button" class="plan-button" (click)="selectPlan('12-months')">
        {{ 'plan-owner.chooseThisPlan' | translate }}
      </button>
    </div>

    <!-- Plan 1 mes -->
    <div class="plan-card">
      <p class="plan-feature">· {{ 'plan-owner.limitedAccess' | translate }}</p>

      <div class="plan-box">
        <h2 class="plan-duration">{{ 'plan-owner.oneMonth' | translate }}</h2>
        <p class="plan-price">S/.19</p>
      </div>

      <button type="button" class="plan-button" (click)="selectPlan('1-month')">
        {{ 'plan-owner.chooseThisPlan' | translate }}
      </button>
    </div>
  </div>
</div>

