<header class="main-header">
  <h1>Estado de coches</h1>
</header>
<div>
  <p>Modificación del estado de los coches</p>
  <div class="content-area">
    <div class="requests-container">



      <div class="request-card">
        <div class="request-info">
          <p class="request-vehicle">Coche: {{ this.store.status()[0]["vehicle"] }}</p>
          <p class="request-license-plate">Placa: {{ this.store.status()[0]["license_plate"] }}</p>
          <p class="request-owner">Dueño: {{ this.store.status()[0]["owner"] }}</p>
        </div>
        <div class="request-actions">
          <button class="modify-button" [routerLink]="['vehicle-status/vehicle-diagnosis']" > Modificar </button>
          <button class="finish-button">Finalizar</button>
        </div>
      </div>


    </div>
  </div>
</div>

