<div class="track-vehicle-container">
  <div class="track-header">
    <h1 class="track-title">{{ 'track-vehicle.title' | translate }}</h1>
  </div>

  <div class="track-content">

    <form [formGroup]="trackForm" (ngSubmit)="onSelect()" class="track-form">
      <div class="form-group">
        <label for="vehicle" class="form-label">{{ 'track-vehicle.selectVehicle' | translate }}</label>
        <select
          id="vehicle"
          formControlName="selectedVehicleId"
          class="form-select">
          <option [ngValue]="null" disabled selected>{{ 'track-vehicle.selectVehiclePlaceholder' | translate }}</option>
          @for (vehicle of vehiclesByUserId(); track vehicle.id) {
            <option [ngValue]="vehicle.id">{{ vehicle.vehicle_brand }} [{{ vehicle.vehicle_plate }}]</option>
          }
        </select>
        @if (trackForm.get('selectedVehicleId')?.invalid && trackForm.get('selectedVehicleId')?.touched) {
          <span class="error-message">
            {{ 'track-vehicle.vehicleRequired' | translate }}
          </span>
        }
      </div>

      <button type="submit" class="select-button" [disabled]="trackForm.invalid">
        {{ 'track-vehicle.select' | translate }}
      </button>
    </form>

    <!-- Error State Component -->
    @if (showError()) {
      <div class="vehicle-info-section">
        <app-state-error></app-state-error>
      </div>
    }

    <!-- Vehicle Information and Progress Bar Section -->
    @if (showProgressBar() && selectedVehicle()) {
      <div class="vehicle-info-section">
        <div class="vehicle-details">
          <p class="vehicle-info">
            <strong>{{ 'track-vehicle.vehicle' | translate }}:</strong> {{ `${selectedVehicle()?.vehicle_brand} [${selectedVehicle()?.vehicle_plate}]` }}
          </p>
          <p class="status-info">
            <strong>{{ 'track-vehicle.status' | translate }}:</strong>
          </p>
        </div>
        <div class="progress-section">
          <app-progress-bar [currentStep]="selectedVehicle()?.maintenance_status || 1" [currentVehicle]="selectedVehicle()"></app-progress-bar>
        </div>
        <div class="diagnostics-section">
          <app-list-diagnostics [currentVehicle]="selectedVehicle()"></app-list-diagnostics>
        </div>
      </div>
    }
  </div>
</div>

