<div class="payment-done-container">
  <h2 class="title">{{'payment-done.title' |translate}}</h2>

  <mat-card class="payment-done-card">
    <h1 class="payment-done-title">{{'payment-done.paid' |translate}}</h1>
    <p class="payment-done-text">{{'payment-done.done' |translate}}</p>

    <div>
      <button
        mat-flat-button
        color="primary"
        class="btn-accept"
        (click)="next()"
      >
        {{'payment-done.btnAccept' |translate}}
      </button>
    </div>

  </mat-card>
</div>

