<div class="payment-done-container">
  <div class="payment-done-header">
    <h1 class="payment-done-title">{{ 'payment-done.title' | translate }}</h1>
  </div>

  <div class="payment-done-content">
    <div class="payment-done-card">
      <!-- Success Icon -->
      <div class="success-icon">
        <svg>
          <use href="/assets/icons/sprite.symbol.svg#bell"></use>
        </svg>
      </div>

      <h2 class="card-title">{{ 'payment-done.paid' | translate }}</h2>
      <p class="card-message">{{ 'payment-done.done' | translate }}</p>

      <div class="button-container">
        <button
          type="button"
          class="btn-accept"
          (click)="next()"
        >
          {{ 'payment-done.btnAccept' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

