<div class="payment-selection-container">
  <h2 class="title">{{ 'payment-selection.title' | translate }}</h2>

  <mat-card class="payment-selection-card">
    <h1 class="card-title">{{ 'payment-selection.chooseMethod' | translate }}</h1>

    <mat-form-field appearance="outline" class="payment-select">
      <mat-label>{{ 'payment-selection.method' | translate }}</mat-label>
      <mat-select [(value)]="selectedPayment">

        @for (p of payments(); track p.id) {
          <mat-option [value]="p.card_number">
            {{ p.card_type }} - {{ p.card_number }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="buttons">
      <button mat-stroked-button class="btn-secondary" (click)="goBack()">{{ 'payment-selection.backButton' | translate }}</button>
      <button mat-flat-button class="btn-primary" (click)="addMethod()">{{ 'payment-selection.addMethodButton' | translate }}</button>
      <button mat-flat-button  class="btn-primary" (click)="pay()">{{ 'payment-selection.payButton' | translate }}</button>
    </div>


  </mat-card>
</div>
