<div class="layout-container">
  <app-side-bar-owner></app-side-bar-owner>
  <main class="main-content">

    <div class="content-area">
      <router-outlet />
    </div>
  </main>

  <!-- Notification Modal (automatically opens when new notifications arrive) -->
  @if (showNotificationModal()) {
    @defer (on immediate) {
      <app-state-notification
        (close)="closeNotificationModal()">
      </app-state-notification>
    } @placeholder {
    } @error {
      <p>An error has happened</p>
    }
  }
</div>
