<header class="main-header">
  <h1>{{'visit-form.header'|translate}}</h1>
</header>

<div class="workshop-form-container">
  <h2 class="form-title">{{'visit-form.title'|translate}}</h2>
  <div class="form-card">
    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="form-group">
        <label class="form-label">{{'visit-form.vehicle_model'|translate}}</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-select formControlName="id_vehicle" placeholder="{{'visit-form.select_model'| translate }}">
            <mat-option [value]="null">{{'visit-form.select_model'| translate }}</mat-option>
            @for (vehicle of vehicles(); track $index) {
              <mat-option [value]="vehicle.id">
                {{ vehicle.model }} - {{vehicle.vehicle_brand}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label class="form-label">{{'visit-form.failure'| translate }}</label>
        <mat-form-field appearance="outline" class="full-width">
          <textarea
            matInput
            formControlName="failure"
            placeholder="{{'visit-form.failure_details'| translate }}"
            rows="3"
            required>
          </textarea>
          @if (form.get('failure')?.touched && form.get('failure')?.hasError('required')) {
            <mat-error>{{'visit-form.failure_message'| translate }}</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="form-group">
        <label class="form-label">{{'visit-form.type_of_service'| translate }}</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-select formControlName="id_service" placeholder="{{'visit-form.select_service'| translate }}">
            <mat-option [value]="null">{{'visit-form.select_service'| translate }}</mat-option>
            @for (service of services(); track $index) {
              <mat-option [value]="service.id">
                {{ service.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>



      <div class="date-time-row">
        <div class="form-group half-width">
          <label class="form-label">{{'visit-form.preferred_date'| translate }}</label>
          <mat-form-field appearance="outline" class="full-width">
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="time_visit"
              placeholder="dd/mm/yyyy"
              required>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (form.get('time_visit')?.touched && form.get('time_visit')?.hasError('required')) {
              <mat-error>{{'visit-form.date_message'| translate }}</mat-error>
            }
          </mat-form-field>
        </div>

      </div>

      <div class="button-container">
        <button
          mat-raised-button
          class="submit-button"
          type="submit"
          [disabled]="form.invalid">
          {{isEdit? 'Update' : 'Add' }}
        </button>

        <button
          mat-raised-button
          color="warn"
          class="back-button"
          type="button"
          (click)="goBack()">
          {{'visit-form.back'| translate }}
        </button>

      </div>


    </form>
  </div>
</div>
